/* - Base Element Styles -- */

* {
  box-sizing: border-box;
}
body {
    margin: 0;
    background-color: indianred; 
    color: rgb(2, 2, 115);
    margin: 0;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    line-height: 1.7;
  }
  header {
    width: 100%;
    min-height: 70px;
    background-color:  rgb(238, 178, 238);
  }

  section {
    padding: 5px;
    margin: 5px;
  }

h1 {
    font-size: 3.5em;
    margin-top: 30px auto 0 auto;
    font-family: "Dekko", sans-serif;
    font-size: 3em;
}
  
  h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  
  h3 {
    font-size: 2.5rem;
  } 
p {
    line-height: 0.8;
    font-family: "Gill Sans", sans-serif;
  }

  /* -- Navigation -- */

.nav-container,
.main-nav,
.img-div,
.experience-container,
.skills-container,
.connect-container,
.leave-message {
  display: flex;
}

.main-nav a {
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
}

.nav-container,
.main-nav {
  flex-direction: column;
  align-items: center;
}
  
#about {
    background-color: white;
    border-radius: 18px;
}

#experience {
    background-color: rgb(238, 178, 238); 
    border-radius: 18px;
    text-align: justify;
}

#skills {
    
    text-align: justify;
    border-radius: 18px;
    background-color: rgb(238, 178, 238);
   
}

#skills-container {
    width: 100%;
    text-align: left;
    
    margin: 10px auto;
    line-height: 5;
  }

#message {
    background-color: rgb(176, 210, 230);
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 18px;
    color: rgb(200, 37, 16);
    }

#messages {
    background-color: rgb(176, 210, 230);
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 18px;
    color: rgb(200, 37, 16);
}

#message ul {
    text-align: center;
}

label {
    color: slategrey;
    font-size: medium;
}

input{
    margin-bottom: 15px;
}

button {
    background-color: mintcream;
    color: cadetblue;
    border-radius: 5px;
}

button:hover {
    background-color: ghostwhite;
}

/* -- Media Queries -- */
@media (min-width: 769px) {
  .nav-container,
  .main-container {
    width: 90%;
    margin: 0 auto;
  }
  .nav-container {
    align-items: center;
  }
  .main-nav {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .nav-container,
  .main-container {
    width: 80%;
    max-width: 1150px;
  }
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
  input {
    width: 50%;
  }
  textarea {
    width: 50%;
  }
}
